button  {
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    border: 0.1rem solid white;
    border-radius: 0.9rem ;
    margin: 0.5rem; 
    cursor: pointer;
}
button:hover{
    background-color: #00471b;
}
.btn-click{
    background-color: #002ead;
}
.btn-restart{
    background-color: #5a01a7;
}